@model LotBanking2.Models.fund_comments

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>fund_comments</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fund.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fund.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.comment.username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.comment.username)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
