@model LotBanking2.Models.diligence_financial

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>diligence_financial</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.project.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.project.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.proforma_gross_margin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.proforma_gross_margin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.proforma_net_margin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.proforma_net_margin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.model_sale_leaseback_investor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.model_sale_leaseback_investor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tax_bill_current)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tax_bill_current)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dev_budget_onsite)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dev_budget_onsite)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dev_budget_offsite)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dev_budget_offsite)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fees_impact)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fees_impact)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fees_school)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fees_school)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fees_other)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fees_other)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.date_created)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.date_created)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.date_modified)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.date_modified)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
