@model IEnumerable<LotBanking2.Models.diligence_financial>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.project.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proforma_gross_margin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proforma_net_margin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.model_sale_leaseback_investor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tax_bill_current)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dev_budget_onsite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dev_budget_offsite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fees_impact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fees_school)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fees_other)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_modified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.project.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proforma_gross_margin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proforma_net_margin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.model_sale_leaseback_investor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tax_bill_current)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dev_budget_onsite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dev_budget_offsite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fees_impact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fees_school)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fees_other)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_modified)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
