@model LotBanking2.Models.purchaseagreement_comments

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>purchaseagreement_comments</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.purchase_agreement.sellingentity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.purchase_agreement.sellingentity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.comment.username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.comment.username)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
