@model LotBanking2.viewmodels.proj_dilConnect

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>project</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.project.builderid, "builder")
        </div>
         <div class="editor-field">
            @Html.DropDownListFor(Model => Model.project.builderid,ViewBag.builderid as SelectList)
            @Html.ValidationMessageFor(model => model.project.builderid)
        </div> 

         <div class="editor-label">
            @Html.LabelFor(model => model.project.mpcid, "mpc")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.project.mpcid,ViewBag.mpcid as SelectList)
            @Html.ValidationMessageFor(model => model.project.mpcid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.project.legal_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.project.legal_name)
            @Html.ValidationMessageFor(model => model.project.legal_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.project.subdivision_report)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.project.subdivision_report)
            @Html.ValidationMessageFor(model => model.project.subdivision_report)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.project.project_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.project.project_name)
            @Html.ValidationMessageFor(model => model.project.project_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.project.project_number)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.project.project_number)
            @Html.ValidationMessageFor(model => model.project.project_number)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.project.number_of_lots)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.project.number_of_lots)
            @Html.ValidationMessageFor(model => model.project.number_of_lots)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.project.acquisition_price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.project.acquisition_price)
            @Html.ValidationMessageFor(model => model.project.acquisition_price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.project.improvement_cost)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.project.improvement_cost)
            @Html.ValidationMessageFor(model => model.project.improvement_cost)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.project.total_cost_calc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.project.total_cost_calc)
            @Html.ValidationMessageFor(model => model.project.total_cost_calc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.project.roll_price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.project.roll_price)
            @Html.ValidationMessageFor(model => model.project.roll_price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.project.option_deposit_percent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.project.option_deposit_percent)
            @Html.ValidationMessageFor(model => model.project.option_deposit_percent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.project.option_deposit_calc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.project.option_deposit_calc)
            @Html.ValidationMessageFor(model => model.project.option_deposit_calc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.project.loan_to_cost_percent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.project.loan_to_cost_percent)
            @Html.ValidationMessageFor(model => model.project.loan_to_cost_percent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.project.loan_to_cost_calc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.project.loan_to_cost_calc)
            @Html.ValidationMessageFor(model => model.project.loan_to_cost_calc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.project.required_equity_calc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.project.required_equity_calc)
            @Html.ValidationMessageFor(model => model.project.required_equity_calc)
        </div>

       


        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
    

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}





