@model LotBanking2.Models.purchase_agreement

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>purchase_agreement</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.fundid, "fund")
        </div>
        <div class="editor-field">
            @Html.DropDownList("fundid", String.Empty)
            @Html.ValidationMessageFor(model => model.fundid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.projectid, "project")
        </div>
        <div class="editor-field">
            @Html.DropDownList("projectid", String.Empty)
            @Html.ValidationMessageFor(model => model.projectid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.builderid, "builder")
        </div>
        <div class="editor-field">
            @Html.DropDownList("builderid", String.Empty)
            @Html.ValidationMessageFor(model => model.builderid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.purchasecontract)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.purchasecontract)
            @Html.ValidationMessageFor(model => model.purchasecontract)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.sellingentity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sellingentity)
            @Html.ValidationMessageFor(model => model.sellingentity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.sellingentitytype)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sellingentitytype)
            @Html.ValidationMessageFor(model => model.sellingentitytype)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.buyingentity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.buyingentity)
            @Html.ValidationMessageFor(model => model.buyingentity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.buyingentitytype)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.buyingentitytype)
            @Html.ValidationMessageFor(model => model.buyingentitytype)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.opendate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.opendate)
            @Html.ValidationMessageFor(model => model.opendate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.closedate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.closedate)
            @Html.ValidationMessageFor(model => model.closedate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.earnest_money)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.earnest_money)
            @Html.ValidationMessageFor(model => model.earnest_money)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.refundable)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.refundable)
            @Html.ValidationMessageFor(model => model.refundable)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.assignment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.assignment)
            @Html.ValidationMessageFor(model => model.assignment)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.purchase_price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.purchase_price)
            @Html.ValidationMessageFor(model => model.purchase_price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.current_purchase_price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.current_purchase_price)
            @Html.ValidationMessageFor(model => model.current_purchase_price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.date_created)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.date_created)
            @Html.ValidationMessageFor(model => model.date_created)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.date_modified)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.date_modified)
            @Html.ValidationMessageFor(model => model.date_modified)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
