@model IEnumerable<LotBanking2.Models.purchase_agreement>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fund.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.builder.buildername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.purchasecontract)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sellingentity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sellingentitytype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.buyingentity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.buyingentitytype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.opendate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.closedate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.earnest_money)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.refundable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.assignment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.purchase_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.current_purchase_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_modified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fund.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.project.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.builder.buildername)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.purchasecontract)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sellingentity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sellingentitytype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.buyingentity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.buyingentitytype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.opendate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.closedate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.earnest_money)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.refundable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.assignment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.purchase_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.current_purchase_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_modified)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
