@model LotBanking2.Models.diligence_location

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>diligence_location</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.projectid, "project")
        </div>
        <div class="editor-field">
            @Html.DropDownList("projectid", String.Empty)
            @Html.ValidationMessageFor(model => model.projectid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.legal_description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.legal_description)
            @Html.ValidationMessageFor(model => model.legal_description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.middle_school)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.middle_school)
            @Html.ValidationMessageFor(model => model.middle_school)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.other_school)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.other_school)
            @Html.ValidationMessageFor(model => model.other_school)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.parcelno_assessor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.parcelno_assessor)
            @Html.ValidationMessageFor(model => model.parcelno_assessor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.city)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.city)
            @Html.ValidationMessageFor(model => model.city)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.state)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.state)
            @Html.ValidationMessageFor(model => model.state)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.zipcode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.zipcode)
            @Html.ValidationMessageFor(model => model.zipcode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.date_created)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.date_created)
            @Html.ValidationMessageFor(model => model.date_created)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.date_modified)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.date_modified)
            @Html.ValidationMessageFor(model => model.date_modified)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
