@model DueDiligence_v1.Models.BuilderProposal

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>BuilderProposal</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Builder)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Builder)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProjectNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProjectNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Legal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Legal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProjectName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProjectName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MPC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MPC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumOfLots)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumOfLots)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Acquisitions)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Acquisitions)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RollPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RollPrice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OptionDeposit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OptionDeposit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Improvements)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Improvements)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LoanToCost)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoanToCost)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Comment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comment)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
