@model LotBanking2.Models.fund_leverage

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>fund_leverage</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.fundid, "fund")
        </div>
        <div class="editor-field">
            @Html.DropDownList("fundid", String.Empty)
            @Html.ValidationMessageFor(model => model.fundid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.leverage_max_percentage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.leverage_max_percentage)
            @Html.ValidationMessageFor(model => model.leverage_max_percentage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.debt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.debt)
            @Html.ValidationMessageFor(model => model.debt)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.interest_start)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.interest_start)
            @Html.ValidationMessageFor(model => model.interest_start)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.loan_fee)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.loan_fee)
            @Html.ValidationMessageFor(model => model.loan_fee)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.appraisal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.appraisal)
            @Html.ValidationMessageFor(model => model.appraisal)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.closing)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.closing)
            @Html.ValidationMessageFor(model => model.closing)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.interest_reserve)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.interest_reserve)
            @Html.ValidationMessageFor(model => model.interest_reserve)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.release_price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.release_price)
            @Html.ValidationMessageFor(model => model.release_price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.total_budgeted_interest)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.total_budgeted_interest)
            @Html.ValidationMessageFor(model => model.total_budgeted_interest)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.interest_to_date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.interest_to_date)
            @Html.ValidationMessageFor(model => model.interest_to_date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.estimated_balance)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.estimated_balance)
            @Html.ValidationMessageFor(model => model.estimated_balance)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.current_balance)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.current_balance)
            @Html.ValidationMessageFor(model => model.current_balance)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.debt_comments)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.debt_comments)
            @Html.ValidationMessageFor(model => model.debt_comments)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.date_created)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.date_created)
            @Html.ValidationMessageFor(model => model.date_created)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.date_modified)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.date_modified)
            @Html.ValidationMessageFor(model => model.date_modified)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
