@model LotBanking2.Models.fund_leverage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>fund_leverage</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fund.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fund.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.leverage_max_percentage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.leverage_max_percentage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.debt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.debt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.interest_start)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.interest_start)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.loan_fee)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.loan_fee)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.appraisal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.appraisal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.closing)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.closing)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.interest_reserve)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.interest_reserve)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.release_price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.release_price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.total_budgeted_interest)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.total_budgeted_interest)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.interest_to_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.interest_to_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estimated_balance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estimated_balance)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.current_balance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.current_balance)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.debt_comments)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.debt_comments)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.date_created)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.date_created)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.date_modified)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.date_modified)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
