@model LotBanking2.Models.fundmanager_contacts

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>fundmanager_contacts</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fund.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fund.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.contact.company)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contact.company)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
