@model LotBanking2.Models.project_comments

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>project_comments</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.projectid, "project")
        </div>
        <div class="editor-field">
            @Html.DropDownList("projectid", String.Empty)
            @Html.ValidationMessageFor(model => model.projectid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.commentid, "comment")
        </div>
        <div class="editor-field">
            @Html.DropDownList("commentid", String.Empty)
            @Html.ValidationMessageFor(model => model.commentid)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
