@model IEnumerable<LotBanking2.Models.fund_offering>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fund.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project_irr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project_wdp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project_irr_leveraged)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project_wdp_leveraged)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dquity_required)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pref_rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hurdle_rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.split_to_hurdle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.split_after_hurdle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.participation_cbh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.investor_irr_forecast)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.equity_comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.underwriting_fee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.management_fee_cbh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Management_fee_collected)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cashflow_forecast)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cashflow_actual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.base_economics_comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ppm_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_modified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fund.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.project_irr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.project_wdp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.project_irr_leveraged)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.project_wdp_leveraged)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dquity_required)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pref_rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hurdle_rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.split_to_hurdle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.split_after_hurdle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.participation_cbh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.investor_irr_forecast)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.equity_comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.underwriting_fee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.management_fee_cbh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Management_fee_collected)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cashflow_forecast)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cashflow_actual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.base_economics_comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ppm_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_modified)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
