@model LotBanking2.Models.diligence_hoa

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>diligence_hoa</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.projectid, "project")
        </div>
        <div class="editor-field">
            @Html.DropDownList("projectid", String.Empty)
            @Html.ValidationMessageFor(model => model.projectid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.formation_date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.formation_date)
            @Html.ValidationMessageFor(model => model.formation_date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.formation_docs)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.formation_docs)
            @Html.ValidationMessageFor(model => model.formation_docs)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ccr_docs)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ccr_docs)
            @Html.ValidationMessageFor(model => model.ccr_docs)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.reserve_study_docs)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.reserve_study_docs)
            @Html.ValidationMessageFor(model => model.reserve_study_docs)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.turnover_date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.turnover_date)
            @Html.ValidationMessageFor(model => model.turnover_date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.annual_budget)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.annual_budget)
            @Html.ValidationMessageFor(model => model.annual_budget)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.unit_per_month)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.unit_per_month)
            @Html.ValidationMessageFor(model => model.unit_per_month)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.date_created)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.date_created)
            @Html.ValidationMessageFor(model => model.date_created)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.date_modified)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.date_modified)
            @Html.ValidationMessageFor(model => model.date_modified)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
