@model LotBanking2.Models.builder_contacts

@{
    ViewBag.Title = "Create";
}

<h2>Trade Ref</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>traderef</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.traderef.builderid, "builder")
        </div>

        <!-- ERROR HERE -->
        <div class="editor-field">
            @Html.DropDownList("builderid", String.Empty)
            @Html.ValidationMessageFor(model => model.builderid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.traderef.tradetypeid, "trade_types")
        </div>
        <div class="editor-field">
            @Html.DropDownList("tradetypeid", String.Empty)
            @Html.ValidationMessageFor(model => model.traderef.tradetypeid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.traderef.notes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.traderef.notes)
            @Html.ValidationMessageFor(model => model.traderef.notes)
        </div>

    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
