@model LotBanking2.viewmodels.builderConnect
@{
    ViewBag.Title = "Details";
}

<h3>Contact</h3>

<fieldset>
    <legend>contact</legend>
    @Html.HiddenFor(model => model.contact.id)
    <div class="display-label">
         @Html.DisplayNameFor(model => model.contact.company)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contact.company)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.contact.title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contact.title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.contact.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contact.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.contact.date_created)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contact.date_created)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.contact.date_modified)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contact.date_modified)
    </div>
</fieldset>


<h3>Phone</h3>

<fieldset>
    <legend>phone</legend>
    @Html.HiddenFor(model => model.contact.phone.id)

    <div class="display-label">
         @Html.DisplayNameFor(model => model.contact.company)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contact.company)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.phone.type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phone.type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.phone.phone1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phone.phone1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.phone.date_created)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phone.date_created)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.phone.date_modified)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phone.date_modified)
    </div>
</fieldset>


<h3>Email</h3>

<fieldset>
    <legend>email</legend>
     @Html.HiddenFor(model => model.contact.email.id)
    <div class="display-label">
         @Html.DisplayNameFor(model => model.contact.company)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contact.company)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email.type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email.type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email.email1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email.email1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email.date_created)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email.date_created)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email.date_modified)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email.date_modified)
    </div>
</fieldset>