@model LotBanking2.viewmodels.builderConnect
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()){
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Builder</legend>
       
        <div class="editor-label">
            @Html.LabelFor(model => model.builder.buildername)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.builder.buildername)
            @Html.ValidationMessageFor(model => model.builder.buildername)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.builder.optioneename)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.builder.optioneename)
            @Html.ValidationMessageFor(model => model.builder.optioneename)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.builder.contractorname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.builder.contractorname)
            @Html.ValidationMessageFor(model => model.builder.contractorname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.builder.website)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.builder.website)
            @Html.ValidationMessageFor(model => model.builder.website)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.builder.current_litigation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.builder.current_litigation)
            @Html.ValidationMessageFor(model => model.builder.current_litigation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.builder.current_litigation_abstract)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.builder.current_litigation_abstract)
            @Html.ValidationMessageFor(model => model.builder.current_litigation_abstract)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.builder.past_litigation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.builder.past_litigation)
            @Html.ValidationMessageFor(model => model.builder.past_litigation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.builder.past_litigation_abstract)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.builder.past_litigation_abstract)
            @Html.ValidationMessageFor(model => model.builder.past_litigation_abstract)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.builder.buildercol)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.builder.buildercol)
            @Html.ValidationMessageFor(model => model.builder.buildercol)
        </div>

        
        
     </fieldset>
        <!-- ----------------------------------------------------------------------------------------------------------------------------- -->
            <div>
                @Html.ValidationSummary(true)
                <fieldset>
                    <legend>Contact Address</legend>
		                @Html.Partial("builderContact", Model)
                </fieldset>
            </div>

       
        <!-- ----------------------------------------------------------------------------------------------------------------------------- -->
    
        <p>
            <input type="submit" value="Create" />
        </p>
    
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
        
 }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
