@model LotBanking2.viewmodels.builderConnect

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Builder</legend>

        @Html.HiddenFor(model => model.builder.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.builder.buildername)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.builder.buildername)
            @Html.ValidationMessageFor(model => model.builder.buildername)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.builder.optioneename)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.builder.optioneename)
            @Html.ValidationMessageFor(model => model.builder.optioneename)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.builder.contractorname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.builder.contractorname)
            @Html.ValidationMessageFor(model => model.builder.contractorname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.builder.website)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.builder.website)
            @Html.ValidationMessageFor(model => model.builder.website)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.builder.current_litigation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.builder.current_litigation)
            @Html.ValidationMessageFor(model => model.builder.current_litigation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.builder.current_litigation_abstract)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.builder.current_litigation_abstract)
            @Html.ValidationMessageFor(model => model.builder.current_litigation_abstract)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.builder.past_litigation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.builder.past_litigation)
            @Html.ValidationMessageFor(model => model.builder.past_litigation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.builder.past_litigation_abstract)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.builder.past_litigation_abstract)
            @Html.ValidationMessageFor(model => model.builder.past_litigation_abstract)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.builder.buildercol)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.builder.buildercol)
            @Html.ValidationMessageFor(model => model.builder.buildercol)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.builder.date_created)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.builder.date_created)
            @Html.ValidationMessageFor(model => model.builder.date_created)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.builder.date_modified)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.builder.date_modified)
            @Html.ValidationMessageFor(model => model.builder.date_modified)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
    
<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
    
        <div>
        @Html.ValidationSummary(true)
       <fieldset>
        <legend>Contact Address</legend>
		@Html.Partial("builderContact", Model)
        </fieldset>
        </div>

<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
    
    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
